:root{
/* color-scheme: light dark; */
background-color: black;
color: whitesmoke;
}
*{
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    margin: 20px;
    margin-top: 60px;
}
.l{
    margin-right: 20px;
}